@import "./components/Variables.css";
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@font-face {
  font-family: "Microgramma";
  src: url("./assets/fonts/Microgramma.otf") format("opentype");
}

* {
  user-select: none;
  font-family: "Microgramma", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color-primary);
  color: var(--font-color-primary);
}

.controls-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  box-shadow: 0 4px 8px var(--box-shadow-color);
}

.bpm-control {
  display: flex;
  align-items: center;
  background-color: var(--background-color-secondary);
  color: var(--font-color-primary);
}

.bpm-label {
  font-size: 16px;
}

.sequencer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: Arial, sans-serif;
}

.sequencer-grid {
}

.sequencer-buttons {
}

.bpm-control {
  display: flex;
  align-items: center;
  background-color: var(--Juno-Yellow);
  color: var(--font-color-primary);
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
  /* cursor: pointer; */
  user-select: none;
  text-align: center;
  width: 50px;
}

.controls-container button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  /* border-radius: 5px; */
  cursor: pointer;
  font-size: 16px;
}

.controls-container button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.controls-container button:hover:not(:disabled) {
  background-color: #0056b3;
}

.sequencer-grid {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.sequencer-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.step {
  width: 3rem;
  height: 2rem;
  margin: 10px;
  border-radius: 5px;
  background-color: gray;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  outline: solid white 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.step:hover {
  transform: scale(1.15);
}

.step.active {
  background-color: #ff5722;
  color: white;
}

.step.active {
  background-color: #fd5454;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  outline: 3px solid rgb(0, 0, 0);
}

.step.playing {
  background-color: rgb(194, 194, 194);
  /* animation: pulse 0.5s; */
}

.step.active.step.playing {
  background-color: rgb(255, 255, 255);
  color: black;
}

.step.click-pulse {
  animation: pulse 0.3s ease-in-out;
}

.confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid var(--border-color);
  box-shadow: 0 0 10px var(--box-shadow-color);
  z-index: 1000;
}

.confirmation-popup p {
  margin-bottom: 20px;
}

.confirmation-popup button {
  background-color: var(--background-color-secondary);
  color: var(--font-color-primary);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.confirmation-popup button:hover {
  background-color: var(--background-color-hover);
}

.confirmation-popup div {
  margin-top: 20px;
}

.sample-name {
  width: 150px;
  margin-right: 10px;
  font-weight: 700;
}

.steps-container {
  display: flex;
}

.step-value-control {
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 16px;
}
