@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #acacac;
}

.sequencer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.bpm-control {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.bpm-control input[type="range"] {
  margin-left: 10px;
  width: 300px;
}

.bpm-label {
  font-size: 16px;
  margin-left: 10px;
}

.sequencer-buttons {
  margin-bottom: 20px;
}

.sequencer-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.sequencer-buttons button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.sequencer-buttons button:hover:not(:disabled) {
  background-color: #0056b3;
}

.sequencer-grid {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.sequencer-row {
  display: flex;
  margin-bottom: 5px;
}

.step {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  background-color: gray;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  outline: solid white 1px;
}

.step.active {
  background-color: #acacac;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  outline: 3px solid rgb(0, 0, 0);
}

.step.playing {
  background-color: rgb(194, 194, 194);
  animation: pulse 0.1s;
}

.step.active.step.playing {
  background-color: rgb(255, 255, 255);
  color: black;
}

.confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.confirmation-popup p {
  margin-bottom: 20px;
}

.confirmation-popup button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.confirmation-popup button:hover {
  background-color: #0056b3;
}

.confirmation-popup div {
  margin-top: 20px;
}

.sequencer-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.sample-name {
  width: 150px;
  margin-right: 10px;
  font-weight: 700;
}

.steps-container {
  display: flex;
}

.step-value-control {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 10px;
}
